@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

body {
  font-family: "Ultra", serif;
  background-color: rgb(255, 221, 59);
  background: linear-gradient(
    90deg,
    rgba(255, 221, 59, 1) 0%,
    rgba(0, 232, 252, 1) 100%
  );
}
header {
  font-size: xx-large;
  margin: 2rem;
}
h1 {
  font-size: medium;
  margin: 2rem;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  font-family: inherit;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px grey;
}

.circle {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  color: white;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.circle {
  font-size: 2rem;
}
.active {
  box-shadow: rgba(50, 50, 93, 0.85) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.7) 0px 18px 36px -18px inset;
}
/* Game over styling */
.popup {
  background: whitesmoke;
  top: 25%;
  width: 50%;
  height: 50%;
  left: 25%;
  position: absolute;
  z-index: 41;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup h1,
.popup p {
  padding: 1.5rem;
  text-align: center;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-family: sans-serif;
  font-size: 1rem;
}
